*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(244, 166, 63);
    min-height: 100px;
}
p{
    background-color: rgb(188, 188, 188);
    min-height: 100px;
}

footer{
    background-color: rgb(63, 72, 244);
    min-height: 100px;
}
aside{
    background-color: rgb(244, 63, 90);
    min-height: 100px;
}

nav{
    background-color: rgb(90, 244, 63);
    min-height: 100px;
}
