*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #ADD8E6;
    height: 60px;
    align-items: center;
    justify-content:center ;

}
/*main{
    background-color: rgb(188, 188, 188);
    min-height: 200px;
    flex-grow: 1;
   height: 500px;
}*/


.container-blu, .nav-top, .container-bianco{
    display: flex;
    align-items: center;
}

.nav-top{
    background-color:#DAA520 ;
    height: 40px;
    width: 70%;
    min-width:450px;
}
#login, #link, #logout{
    line-height: 40px;
    min-width: 150px;
}
#link, .content-lato{
    flex-grow:1;
    text-align:center;
    }

#logout{
    text-align: end;
}
.primo-blocco{
    min-width: 550px;
    height: 400px;
    background-color: #EE82EE;
    width: 60%;
}

.container{
    width: 100%;
    background-color: #121795;
    justify-content: center;
    height: 450px;
    display: flex;
    align-items: center;
}
.container-bianco, .container-blu{
    width: 100%;
    justify-content: center;
    height: 550px;
}
.container-bianco{
    background-color: #ffffff;
}
.container-blu{
    background-color: #121795;

}
.content-lato{
    background-color: #1E90FF;
    height: 80%;
    min-width: 250px;
    margin-left: 15%;
}

aside{
    background-color: #FDBEC9;
    height:80%;
    width: 300px;
    margin-right: 15%;

}
.adv1{
    order: -1;
    margin-right:0%;
    margin-left: 15%;
}


.container-bianco>.content-lato{
    margin-left: 0;
    margin-right: 15%;
}

.container-prefoot{
    width: 100%;
    justify-content: center;
    height: 900px;
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
}

.contenuto{
    background-color:#228B22;
    height:85%;
    width: 70%;
 
}

footer{
    background-color: rgb(63, 72, 244);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center ;
}

#rosabot{
 background-color: #F08080;
 height: 90%;
 width: 33%;
 }

  .turchesebot{
    background-color: #20B2AA;
    height: 90%;
    border: dashed 1px white;
    flex-grow: 1;

 }
 #utili{
    display: flex;
    align-items: center;
    width: 70%;
    height: 90%;
    min-width: 450px;

 }